.loginPage {
  background-image: url('images/emms3.jpg');
  background: linear-gradient(rgb(11, 11, 11, 0.5), rgb(10, 10, 10, 0.5)),
    url('images/emms3.jpg');
}
.loginForm {
  background-color: rgba(1, 32, 93, 0.6);
  color: white;
}

.nav-link:hover {
  background-color: orange;
  width: 100%;
  color: azure;
  transition: ease 0.3s;
}

.inputCategory {
  background: #1d2b3a;
  min-height: calc(100svh - 52.8px);
}
.inputForme {
  gap: 30px;
}

.inputBox {
  position: relative;
  width: 300px;
}

.inputBox input,
.inputBox textarea,
.inputBox select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  border-radius: 5px;
  background: #1d2b3a;
  color: #fff;
  font-size: 1em;
  transition: 0.3s;
}

.inputBox span {
  position: absolute;
  color: #fff;
  left: 0;
  padding: 10px;
  pointer-events: none;
  text-transform: uppercase;
  font-size: 1em;
}

.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox select:valid ~ span,
.inputBox select:focus ~ span {
  color: #00dfca;
  transform: translateX(10px) translateY(-7px);
  padding: 0 10px;
  background: #1d2b3a;
  font-size: 0.65em;
  border-left: 1px solid #00dfca;
  border-right: 1px solid #00dfca;
  letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox textarea:valid,
.inputBox input:focus,
.inputBox textarea:focus,
.inputBox select:valid,
.inputBox select:valid {
  border: 1px solid #00dfca;
}

.btn-category {
  color: #1d2b3a;
  background: #00dfca;
}
.btn-category:hover {
  color: #1d2b3a;
  background: #00dfca;
  transition: 0.3s all ease;
  scale: 1.05;
}

.tableCategory {
  border: 1px solid #00dfca;
  padding: 5px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: orange;
  overflow: auto !important;
  word-break: break-all;
}
.tableCategory1 {
  border: 1px solid #00dfca;
  padding: 5px;
  width: 95.5%;
  text-align: center;
  border-radius: 5px;
  color: orange;
  overflow: auto !important;
  word-break: break-all;
}

.imageSpan {
  color: #00dfca;
  padding: 0 10px;
  background: #1d2b3a;
  font-size: 0.65em;
  border-left: 1px solid #00dfca;
  border-right: 1px solid #00dfca;
  letter-spacing: 0.2em;
  position: absolute;
  top: 12px;
  left: 11px;
  width: 82px;
  height: 30px;
  text-align: center;
  align-items: center;
}

.labelImage {
  color: #00dfca;
  transform: translateX(10px) translateY(-7px);
  padding: 0 10px;
  background: #1d2b3a;
  font-size: 0.65em;
  border-left: 1px solid #00dfca;
  border-right: 1px solid #00dfca;
  letter-spacing: 0.2em;
  position: absolute;
}

.custom-file-button {
  input[type='file'] {
    margin-left: -2px !important;
    & {
      color: rgba(0, 223, 202, 0.3);
      background: transparent;
      text-align: center;
    }

    &::-webkit-file-upload-button {
      display: none;
    }
    &::file-selector-button {
      display: none;
    }
  }
  & {
    label {
      background: rgba(0, 223, 202, 0.3);
      color: #fff;
      border: 1px solid #00dfca;
    }
  }

  &:hover {
    label {
      cursor: pointer;
    }
  }
}

.imageEmployee {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
